.contactsList{
    width: 500px;
    margin: 0;
    padding-left: 0;
    /* border: 2px solid rgb(87, 160, 180); */
    border-radius: 10px;
    padding: 20px;
    width: 500px;
  }

  .title {
    margin-bottom: 10px;
    margin-top: 0;
    font-family: "Roboto", sans-serif;
    font-style: 20px;
        font-weight: 600;
        font-size: 22px;
      }

      .formStyle {
        display: flex;
        flex-direction: column;
       
      }